{% extends 'main/index.html' %}

{% block content %}
<div class="flexter-article-list-container">
	<ol class="flexter-article-list">
		{% for article in object_list %}
			<li class="flexter-article-list-item">
				<h2 class="display-1 flexter-article-list-item-title"><a href="/blog/{{article.id}}">{{article.title}}</a></h2>
				<p class="lead flexter-article-list-item-summary">{{article.summary}}</p>
				<p class="flexter-article-list-item-meta">
					{{article.author.first_name}} {{article.author.last_name}}
					<span class="flexter-meta-separator"></span>
					{{article.go_live|date:'F d, Y'}}
				</p>
			</li>
		{% endfor %}
	</ol>
</div>
{% endblock %}