{% extends 'main/index.html' %}

{% block content %}
<article>
	<header class="flexter-article-header text-center">
		<h1 class="display-1 flexter-article-title">{{article.title}}</h1>
		<div class="flexter-article-meta">
			{{article.author.first_name}} {{article.author.last_name}}
			<span class="flexter-meta-separator"></span>
			{{article.go_live|date:'F d, Y'}}
		</div>
		<ul class="flexter-article-tag-list">
			{% for tag in article.tags.all %}
				<li class="flexter-article-tag-item"><small><a href="/blog/tag/?id={{tag.id|urlencode:''}}">{{tag.content | upper}}</a></small></li>
			{% endfor %}
		</ul>
	</header>
	<hr class="flexter-article-separator">
	<div class="flexter-article-content">
		{{article.content | safe}}
	</div>
</article>
{% endblock %}